.locate-painel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #EEEEEE;
    width: 400px;
    height: auto;
    padding: 20px;
    margin: 100px auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.locate-painel h2{
    text-align: center;
}
.locate-form{
    margin: 10px;
}
.locate-form input{
    margin: 5px;
    border: none;
    text-align: center;
}
.form-button{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.titulo-Principal{
    margin-top: 50px;
    text-align: center;
}

.button-Concluir{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: linear-gradient(to left, #f8c22f 50%, greenyellow 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.botaoConcluir{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.button-Concluir:hover{
    color: white;
    background-position: left;
}
.form-add-button{
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    background: linear-gradient(to right,greenyellow 50%,  #f8c22f 50%);
    background-size: 200%;
    transition: .5s ease-out;
}
.form-add-button:hover{
    background-position: right;
    color: black;
}

.content-page{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-page{
    margin: 30px;
}
.top-side{
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.locale-list{
    margin: 10px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}
.locale-list ul{
    list-style: none;
    padding: 0;
}
.locale-list ul li{
    font-size:28px;
}
.locale-list button{
        margin-top: 6px;
        width: 110px;
        height: 30px;
        border-radius: 10px;
        background-color: #f8c22f;
        font-size: 28px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.9s;
}
.locale-list button:hover{
    width: 120px;
    height: 35px;
    border-radius: 30px;
    background-color: greenyellow;
}
.card-most-value{
    margin: 10px;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgb(222, 255, 172)
}
.card-product-list-bg{
    margin: auto;
    background-color: #ffffff;
    width: 1322px;
    height: 1007px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-product{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    
}

@media screen and (max-width: 1300px){

    .cards *{
        flex: 0 0 33.333333%;
    }
    .card-product-list-bg{
        width: 1200px;
        height: 714px;
    }
}
@media screen and (max-width: 1160px){
    .top-side{
        flex-direction: column;
    }
    .locale-list ul li{
        font-size:16px;
    }
    .locale-list h3{
        font-size:18px;
    }
    .locale-list button{
            width: 60px;
            height: 20px;
            font-size: 16px;
    }
    .card-product-list-bg{
        width: 1000px;
    }
}
@media screen and (max-width: 950px){
    
    .card-product-list-bg{
        width: 600px;
    }
}
