.locate-painel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #EEEEEE;
    width: 400px;
    height: auto;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}
.locate-painel h2{
    text-align: center;
}
.locate-form{
    margin: 10px;
}
.locate-form input{
    margin: 5px;
    border: none;
    text-align: center;
}
.form-button{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.form-dell-button{
    
    justify-content: flex-end;
    font-size: 12px;
    color: white;
    margin-left: 5px;
    border-radius: 30px;
    background-color: rgb(255, 88, 88);
    border: none;
}
.form-submit-button{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: linear-gradient(to left, #f8c22f 50%, greenyellow 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.form-submit-button:hover{
    color: white;
    background-position: left;
}
.form-add-button{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    background: linear-gradient(to right,greenyellow 50%,  #f8c22f 50%);
    background-size: 200%;
    transition: .5s ease-out;
}
.form-add-button:hover{
    background-position: right;
    color: black;
}

.content-page{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-page{
    margin: 30px;
}
.top-side{
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.locale-list{
    margin: 10px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}
.locale-list ul{
    list-style: none;
    padding: 0;
}
.locale-list ul li{
    font-size:28px;
}
.locale-list button{
        margin-top: 6px;
        width: 110px;
        height: 30px;
        border-radius: 10px;
        background-color: #f8c22f;
        font-size: 28px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.9s;
}
.locale-list button:hover{
    background: linear-gradient(to left,  greenyellow 50%, #f8c22f 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.img-star{
    position: relative;
    z-index: 1;
    transition: 5s;
}
.img-star img{
    width: 60px;
    height: 60px; 
    position: absolute;
    top:20px;
    left: -40px;
}

.card-most-value:hover .img-star {
    animation: movestar 2s forwards;
}
.card-most-value:hover .img-star img{
    animation: rotate 2s forwards;
}
@keyframes movestar {
    0%   {right: 40px}
    100% {right: -700px;}
  }
  @keyframes rotate {
    100% {transform: rotate(180deg)}
  }
 
.card-product-list-bg{
    margin: auto;
    background-color: #ffffff;
    width: 1100px;
    height: 1007px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-product{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    
}
@media screen and (max-width: 1300px){

    .cards *{
        flex: 0 0 33.333333%;
    }
    .card-product-list-bg{
        width: 1200px;
        height: 714px;
    }
}
@media screen and (max-width: 1160px){
    .top-side{
        flex-direction: column;
    }
    .locale-list ul li{
        font-size:16px;
    }
    .locale-list h3{
        font-size:18px;
    }
    .locale-list button{
            width: 60px;
            height: 20px;
            font-size: 16px;
    }
    .card-product-list-bg{
        width: 1000px;
    }
    .img-star img{
        width: 30px;
        height: 30px;
        top: 30px;
        left: 0;
    }
    @keyframes movestar {
        0%   {right: 40px}
        100% {right: -370px;}
      }
      @keyframes rotate {
        100% {transform: rotate(180deg)}
      }
}
@media screen and (max-width: 950px){
    
    .card-product-list-bg{
        width: 600px;
    }
}
