  body{
    background: rgb(255,255,241);
    background: linear-gradient(180deg, rgba(255,255,241,1) 66%, rgba(248,194,47,1) 100%);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}  

@keyframes change {
    0%{
        background-position: 0 70%;
    }
    50%{
        background-position: 100% 40%;
    }
    100%{
        background-position: 0 70%;
    }
}
.title{
    text-align: center;
    padding-top: 70px;
}
.subtitle{
    text-align: center;
    margin: 20px;
}
.cardListBackground{
    margin: auto;
    background-color: #ffffff;
    width: 1322px;
    height: 760px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}
.cards{
    margin: auto;
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    
}
.loader-container{
    text-align: center;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgba(248,194,47,1); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.button-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: auto;
}
.button-act{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    background: linear-gradient(to right,greenyellow 50%,  #f8c22f 50%);
    background-size: 200%;
    transition: .5s ease-out;

}
.button-act:hover{
    background-position: right;
    color: black;
}
@media screen and (max-width: 1300px){

    .cards *{
        flex: 0 0 33.333333%;
    }
    .cardListBackground{
        width: 1200px;
        height: 714px;
    }
}
@media screen and (max-width: 1160px){
    .cardListBackground{
        width: 1000px;
    }
}
@media screen and (max-width: 950px){
    .cardListBackground{
        width: 600px;
    }
}
