.store-pic{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.store-pic img{
    object-fit: cover;
    width: 100%;
    height: 635px;
}
.market-name{
    position: absolute;
    top: 90px;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 0 30px 30px 0;
}
.market-name h1 {
    margin: 0;
    font-size: 36px;
}
.adress-section{
    position: absolute;
    top: 400px;
    margin-left: 60px;
}
.adress-section .adress-title{
    background-color: #f8c22f;
    border-radius: 0 30px 0 0;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adress-title h3{ 
    margin:  0;
}
.adress-frame{
    display: flex;
    position: flex;
}
.adress-frame iframe{
    border-radius: 10px;
    border: solid black 4px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
    width:792px;
    height:297px;
}
.phone-store{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    right: -147px;
    background-color: #f8c22f;
    height: max-content;
    border-radius: 0 30px 0 0;
    align-items: center;
}
.content-store-page{
    display: flex;
    align-items: center;
    margin: 100px auto;
    justify-content: space-evenly;
}
.content-store-page .filter-section{
    width: 357px;
    height: 749px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}
.content-store-page .cardListBackground-store{
    width: 890px;
    height: 752px;
    background-color: #ffffff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}
.content-store-page .cards-store{
    margin: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
}


@media screen and (max-width: 1300px){
    .content-store-page{
        flex-direction: column;

    }
    .content-store-page .filter-section{
        width: 90%;
        height: 400px;
        flex-direction: row;
        margin: 40px;
    }
}
@media screen and (max-width: 1000px){
    .adress-section{
        flex-direction: column;
    }
    .adress-frame iframe{
        width: 500px;
    }
}
@media screen and (max-width: 850px){
    .content-store-page .cardListBackground-store{
        width: 700px;
    }
}
@media screen and (max-width: 700px){
    .content-store-page .cardListBackground-store{
        width: 500px;
    }
    .content-store-page .filter-section{
        width: 500px;
    }
    .phone-store{
        position: relative;
        bottom: 0px;
        right: 0px;
        border-radius: 0 0 10px 10px;
        width: fit-content;
    }
    .adress-frame {
        flex-direction: column;
        
    }
    .adress-section{
        position: relative;
        top: 0;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}